/* design font  */
* {
    font-family:'Roboto', sans-serif;
}
 /* nav css */
a:hover {
    color: red;
    font-weight: bold;
}

.color-red {
    color: #fd0002;   
    text-decoration: none;
}

.icon-size {
    height: 5vh;
}

#menu-mobile {
    display: none;
}


.container-about {
    width: 100%;
    display: flex;
}

.layout {
    background-image: url(../img/layout.jpg) ;
    background-size: cover;
    width: 100%;
    height: 90vh;
  }

.about {
    margin-top: 5%;
    margin-right: 12%;
    margin-left: 10%;
}



    
/* nav responsiva */
@media screen and (max-width: 768px) {
    #menu-mobile {
        display: flex;
    }

    #menu-desktop {
        display: none;
    }
    
    .container-about {
       flex-direction: column;
    
    }
     
    .layout {
        height: 150px;
        width: 100%;
    }
    .about {
        margin-top: 5%;
        margin-right: 12%;
        margin-left: 10%;
    }

}